body {
    width: 100vw;
    height: 100vh;
    background-image: url('https://raw.githubusercontent.com/Altcademy/bewd-twitter/main/app/assets/images/background_1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#signup__button,
#remember__me {
    font-size: .7rem;
}